.badgeBigCaslon {
  font-family: "Big-Caslon";
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0%;
}
@media (min-width: 1100px) {
  .badgeBigCaslon {
    font-size: 30px;
    line-height: 40px;
  }
}
html[dir="rtl"] .badgeBigCaslon {
  font-family: "IranSans-Bold";
  font-size: 14px;
  line-height: 100%;
}
@media (min-width: 768px) {
  html[dir="rtl"] .badgeBigCaslon {
    font-size: 27px;
  }
}

.titleHelveticaThin {
  font-family: "HelveticaNeue-Thin";
  font-weight: 200;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

@media (min-width: 1100px) {
  .titleHelveticaThin {
    font-size: 56px;
  }
}

@media (min-width: 1200px) {
  .titleHelveticaThin {
    font-size: 64px;
  }
}

.titleBigCaslon {
  font-family: "Big-Caslon";
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
}

@media (min-width: 768px) {
  .titleBigCaslon {
    font-size: 30px;
    line-height: 40px;
  }
}

.textHelveticaThin {
  font-family: "HelveticaNeue-Thin";
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0%;
}

@media (min-width: 768px) {
  .textHelveticaThin {
    font-size: 24px;
    line-height: 23px;
  }
}

html[dir="rtl"] .textHelveticaThin {
  font-family: "Payda-Extralight";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  html[dir="rtl"] .textHelveticaThin {
    font-family: "Payda-Extralight";
    font-size: 22px;
    line-height: 27px;
  }
}

.linkHelveticaLight {
  font-family: "HelveticaNeue-Light";
  font-weight: 200;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: -1%;
  border: 0.5px solid #ffffff;
  padding: 2px 4px;
  display: inline-block;
  width: fit-content;
  transition: all 0.3s ease;
  margin-top: 24px;
}

.linkHelveticaLight:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
}
html[dir="rtl"] .linkHelveticaLight {
  font-family: "Payda-Light";
  font-size: 14px;
  line-height: 27px;
}

.gridThreeColumns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .gridThreeColumns {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gridColumnBorder {
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
  padding-top: 24px;
}

.overviewLogoFloat {
  float: left;
  width: 50%;
  height: 24px;
  display: flex;
  align-items: center;
  padding-right: 16px;
  margin-bottom: 4px;
}

html[dir="rtl"] .overviewLogoFloat {
  float: right;
  padding-right: 0;
  padding-left: 16px;
}

@media (min-width: 768px) {
  .overviewLogoFloat {
    height: 32px;
  }
}

.overviewIntroText {
  font-family: "Big-Caslon";
  font-size: 20px;
  line-height: 19px;
  color: #000000;
  letter-spacing: 0%;
}

@media (min-width: 768px) {
  .overviewIntroText {
    font-size: 35px;
    line-height: 36px;
  }
}

.sliderGrid {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .sliderGrid {
    margin-top: 64px;
  }
}

.sliderGrid::-webkit-scrollbar {
  display: none;
}

.sliderCard {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
  transition: opacity 0.3s ease;
  text-align: center;
}

@media (min-width: 768px) {
  .sliderCard {
    text-align: start;
    flex: 0 0 28.57%;
  }
}

.sliderImage {
  width: 100%;
  aspect-ratio: 16/10;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.activeCard {
  opacity: 1;
  position: relative;
  z-index: 10;
}

.activeCard .sliderImage {
  transform: scale(1);
  transform-origin: left center;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

html[dir="rtl"] .activeCard .sliderImage {
  transform-origin: right center;
}

.activeLabel {
  font-family: "HelveticaNeue-Light";
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}

@media (min-width: 768px) {
  .activeLabel {
    font-size: 30px;
    line-height: 40px;
  }
}

.inactiveCard {
  opacity: 0.35;
}

.inactiveCard:hover {
  opacity: 0.85;
}

.inactiveLabel {
  font-family: "HelveticaNeue-Thin";
  font-weight: 200;
  font-size: 24px;
  line-height: 34px;
  color: #71717a;
}

@media (min-width: 768px) {
  .inactiveLabel {
    font-size: 30px;
    line-height: 40px;
  }
}

html[dir="rtl"] .activeLabel {
  font-family: "Payda-Extralight";
}

html[dir="rtl"] .inactiveLabel {
  font-family: "Payda-Extralight";
}

.globeBanner {
  width: 100%;
  height: 450px;
  background-image: url("../../assets/Company Images/overview-earth.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #ffffff;
  position: relative;
}

@media (min-width: 768px) {
  .globeBanner {
    background-size: contain;
    height: 600px;
  }
}

@media (min-width: 1024px) {
  .globeBanner {
    height: 700px;
  }
}

.globeTitleOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .globeTitleOverlay {
    padding: 64px;
    padding-bottom: 32px;
  }
}

.globeTitle {
  font-family: "HelveticaNeue-Thin";
  font-weight: 200;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-align: left;
}

html[dir="rtl"] .globeTitle {
  text-align: right;
}

@media (min-width: 768px) {
  .globeTitle {
    font-size: 72px;
    line-height: 100%;
  }
}

html[dir="rtl"] .globeTitle {
  font-family: "Payda-Extralight";
}

.globeSubtitleLineWrapper {
  width: fit-content;
  padding-bottom: 16px;
  border-bottom: 0.5px solid #000000;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .globeSubtitleLineWrapper {
    padding-bottom: 32px;
  }
}

.globeSubtitle {
  font-family: "Big-Caslon";
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}
@media (min-width: 768px) {
  .globeSubtitle {
    font-size: 30px;
    line-height: 30px;
  }
}

html[dir="rtl"] .globeSubtitle {
  font-family: "IranSans-Bold";
  font-size: 14px;
  line-height: 100%;
}
@media (min-width: 768px) {
  html[dir="rtl"] .globeSubtitle {
    font-size: 27px;
  }
}

.sectionTwoCloudy {
  width: 100%;
  background-color: #ffffff;
  background-image: url("../../assets/Company Images/overview-space.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 24px;
  color: #000000;
  position: relative;
  z-index: 10;
}

.largeSerifTitle {
  font-family: "Big-Caslon";
  font-size: 16px;
  line-height: 17px;
  width: 80%;
  color: #000000;
  letter-spacing: -0.01em;
  font-weight: 400;
}

@media (min-width: 768px) {
  .largeSerifTitle {
    font-size: 37px;
    line-height: 35px;
    width: 100%;
  }
}

html[dir="rtl"] .largeSerifTitle {
  font-family: "IranSans-Bold";
  font-size: 14px;
  line-height: 100%;
}
@media (min-width: 768px) {
  html[dir="rtl"] .largeSerifTitle {
    font-size: 27px;
    line-height: 129%;
  }
}

.principlesTitle {
  font-family: "Big-Caslon";
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  color: #000000;
}
@media (min-width: 768px) {
  .principlesTitle {
    font-size: 30px;
    line-height: 40px;
  }
}
html[dir="rtl"] .principlesTitle {
  font-family: "IranSans-Bold";
  font-size: 14px;
  line-height: 100%;
}
@media (min-width: 768px) {
  html[dir="rtl"] .principlesTitle {
    font-size: 27px;
  }
}

.linkVision {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .linkVision {
    margin-top: 200px;
  }
}

.principlesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .principlesGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.principleBox {
  border: 0.5px solid rgba(0, 0, 0, 1);
  background-color: transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.principleBoxTitle {
  font-family: "Big-Caslon";
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}

.principleBoxText {
  font-family: "HelveticaNeue-Thin";
  font-size: 16px;
  line-height: 17px;
  color: #000000;
}

@media (min-width: 768px) {
  .principleBox {
    min-height: 220px;
  }
  .principleBoxTitle {
    font-size: 30px;
    line-height: 40px;
  }

  .principleBoxText {
    font-size: 24px;
    line-height: 23px;
  }
}

html[dir="rtl"] .principleBoxTitle {
  font-family: "IranSans-Bold";
  font-size: 14px;
  line-height: 100%;
}
@media (min-width: 768px) {
  html[dir="rtl"] .principleBoxTitle {
    font-size: 27px;
  }
}
html[dir="rtl"] .principleBoxText {
  font-family: "Payda-Extralight";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  html[dir="rtl"] .principleBoxText {
    font-family: "Payda-Extralight";
    font-size: 22px;
    line-height: 27px;
  }
}

.sectionThreeGradient {
  width: 100%;
  background: linear-gradient(to bottom, #ffffff 0%, #000000 50%);
  color: #ffffff;
  padding-top: 0px;
}

.valueSectionTitle {
  font-family: "HelveticaNeue-Thin";
  font-weight: 200;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 16px;
}

@media (min-width: 768px) {
  .valueSectionTitle {
    font-size: 56px;
  }
}
html[dir="rtl"] .valueSectionTitle {
  font-family: "Payda-Extralight";
}

.industryRow {
  border-bottom: 0.5px solid #ffffff;
  padding-top: 32px;
  padding-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-top: 32px;
}

@media (min-width: 1024px) {
  .industryRow {
    grid-template-columns: repeat(3, 1fr);
  }
}

.industryLeftTitle {
  font-family: "Big-Caslon";
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .industryLeftTitle {
    font-size: 30px;
    line-height: 30px;
  }
}
html[dir="rtl"] .industryLeftTitle {
  font-family: "IranSans-Bold";
  font-size: 14px;
  line-height: 127%;
}
@media (min-width: 768px) {
  html[dir="rtl"] .industryLeftTitle {
    font-size: 27px;
  }
}

.sectionThreeGradientDark {
  width: 100%;
  background: linear-gradient(to bottom, #000000 0%, #030406 100%);
  color: #ffffff;
  padding-top: 0px;
}
.sectionCounter {
  font-family: "Big-Caslon";
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0%;
}

.panoramaBottomContainer {
  width: 100%;
  background-image: url("../../assets/Company\ Images/overview-city.jpg");
  background-size: cover;
  background-position: center 1px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 20;
  padding-bottom: 10px;
}

@media (min-width: 2000px) {
  .panoramaBottomContainer {
    background-position: center;
  }
}

.panoramaBottomContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to bottom, #000000, #030406);
  z-index: 1;
}

.panoramaBottomText {
  font-family: "Big-Caslon";
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  letter-spacing: -0.01em;
  margin-top: 120px;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .panoramaBottomText {
    font-size: 40px;
    line-height: 35px;
    margin-top: 550px;
  }
}
html[dir="rtl"] .panoramaBottomText {
  font-family: "IranSans-Bold";
  font-size: 14px;
  line-height: 127%;
}
@media (min-width: 768px) {
  html[dir="rtl"] .panoramaBottomText {
    font-size: 27px;
  }
}

.sectionSevenConcluding {
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  z-index: 10;
}

.sectionSevenTitle {
  font-family: "HelveticaNeue-Thin";
  font-weight: 200;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 24px;
}

html[dir="rtl"] .sectionSevenTitle {
  font-family: "Payda-Extralight";
  font-size: 24px;
  line-height: 100%;
}

@media (min-width: 768px) {
  .sectionSevenConcluding {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .sectionSevenTitle {
    font-size: 72px;
  }
  html[dir="rtl"] .sectionSevenTitle {
    font-size: 48px;
  }
}
